/*
img{
transition: 0.3s;
filter: grayscale(50%);    her zaman filter degisiyor renk olarak
filter: blur(4px);    her zaman filter degisiyor sis oluyor
filter:invers(4px);    her zaman fotograf renkleri tersi oluyor
}

img:hover{
    filter: grayscale(100%);   sadece basarsak filter degisiyor
    gecen filterler kullanabiliriz basarsak gerceklesir hover da 
}

 div{
    background-image: linear-gradient(to right, red, blue);
    burda biz renklerimn gitmesi hangi yonden ve hangi renkler belirtliyoruz
 }
 
 */

 .first{
    background-color: #ddd;
    width: 600px;
    height: 100px;
    padding: 20px;
    color: black;
    text-align: center;
    margin-left: 300px;
    position: relative;
   border-right:10px solid blueviolet;
   border-left:10px solid red;


 }
 
 .first:before{
content: "";
position: absolute;
width: 103.20%;
height: 10px;
background-image: linear-gradient(90deg,red 20%,blue 20%,blue 40%,red 40%,red 60%,yellow 60%,yellow 80%,blueviolet 80%, blueviolet 100%);
top: -10px;
left: -10px;
 }

.first:after{
 content: "";
position: absolute;
width: 103.20%;
height: 10px;
background-image: linear-gradient(90deg,red 20%,blue 20%,blue 40%,red 40%,red 60%,yellow 60%,yellow 80%,blueviolet 80%, blueviolet 100%);
bottom: -10px;
left: -10px;
}

 .Elzero{
    background-color: #ddd;
    width: 600px;
    height: 20px;
    padding: 20px;
    color: black;
    
    position: relative;
    border: none;
    outline: none;
   
 }
.second div{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-left: 300px;
    margin-bottom: 30px;
}

 .second div:before{
    content: "";
     background-image: linear-gradient(90deg,
    red 50%, blue 50%, blue 100%);
    height: 10px;
    position: absolute;
    width: 100%;
    left:0px;
    top: 60pX;

 }
