
.title{
    color:green;  
}
div p{ 
    color: green;   
}

 .parent  .title {
    color: blue;   
}
  .parent  .child {
    color:green;    
}

.parent .child .title{
    color:red; 
}


  .paragraph  p{
background-color:red;
padding: 10px;
display:block;
width:400px;
overflow: visible;

}


.paragraph1  p{
    background-color:red;
    padding: 10px;
    display:block;
    width:400px;
    max-height: 50px;
    overflow: visible;

    }


     .paragraph2 p{
        background-color:red;
        padding: 10px;
        display:block;
        max-width:400px;
        max-height: 50px;
        overflow: visible;

        }



         .paragraph3  p {
            background-color:red;
            padding: 10px;
            display:block;
            max-width:400px;
            max-height:40px ;
            overflow:hidden;
    
           /* overflow: auto;*/
            }



.one{
color: rgb(212, 212, 52);
}

.two{
  
    color: rgb(51, 201, 54);
 
    }

 .three{
    
        color: rgb(34, 0, 255);
        
        }
