/*a=link*/
a{
    text-decoration: none;
     /*يعني شكل اللينك انو بكون تحتو خط لاعرف انو لينك بشيلو مشان الون اللينك متل ما بدي*/
     color: red; 
}

a:hover {
color: green;
/*يعني انا اخترت لون اللينك اللي بدي اياه وخلصت بس بدي لما اكبس على اللينك يتغير لونو بحط الشي المزيف اللي اسمو هوفر*/ 
}

.check:checked +label{
color: red;
/*لما انا احط خيارات وبجنبهن مربع لاختار اذا اخترت الخيار الفلاني يتغير لونو للون الفلاني */
/*display: none; */
/*او لما اختار هاد العنصر اخفيلي زر الاختيار */ 
border: 2px blue solid;
}

.check:focus{
border-color: red;
outline: none;
}


a:visited {
    color:blue;
}

.one{
    background-color: #eee;
    border: solid #eee 1px;
    height: 60px;
    width: 300px;
    padding-top: 30px;

}


.empty{
    background-color: red;
    border: solid red 1px;
    height: 60px;
    width: 300px; 
    padding-top: 30px;
}


.three{
    background-color: #eee;
    border: solid #eee 1px;
    height: 60px;
    width: 300px;
    padding-top: 30px;
   
}

.hello{
background-color: gray;
border: solid gray 1px;
height: 60px;
width: 300px;
position:absolute;
right: 50%;
padding-top: 10px;
padding-right: 50px;
}

/*
 .hello span{
   display:inline; 
   font-size: 40px;
   background-color: red;
   border: solid red 10px;
   border-top: 230px;
   border-left: -19px;
}
*/

.hello::first-letter{
    display:inline; 
    font-size: 40px;
    background-color: red;
    border: solid red 10px;
    border-top: 230px;
    border-left: -14px;
}

/*
.hello1::selection{
    color: bisque;
    background-color: black;
}*/


.onee{
    background-color: #eee;
    border: solid #eee 1px;
    height: 60px;
    width: 400px;
    padding-top: 30px;
    position: relative;
   
}
   
    

  .twoo{
    background-color: #eee;
    border: solid #eee 1px;
    height: 60px;
    width: 400px;
    padding-top: 30px;
    position: relative;
   
}
   

 .threee{
    background-color: #eee;
    border: solid #eee 1px;
    height: 60px;
    width: 400px;
    padding-top: 30px;
    position: relative;
   
}     
     
    .onee::before{
        content: "";
        position:absolute;
        width: 5px;
        height: 100%;
        left:-10px;
        top: 0;
        background-color: rgb(255, 0, 132);
     }


     .onee::after{ 
        content:"" ;
        position:absolute;
        width:0;
        height: 0;
        left:-20px;
        top: 50%;
        background-color: rgb(255, 0, 128);
        margin-top: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent   white  transparent   transparent   ;
     }

  
     .twoo::before{
        content: "";
        position:absolute;
        width: 5px;
        height: 100%;
        left:-10px;
        top: 0;
        background-color: rgb(255, 0, 132);
     }
  


     .twoo::after{
        content: "";
        position:absolute;
        width:0;
        height: 0;
        left:-20px;
        top: 50%;
        background-color: rgb(255, 0, 128);
        margin-top: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent   white  transparent   transparent   ;
     }



 .threee::before{
    content: "";
    position:absolute;
    width: 5px;
    height: 100%;
    left:-10px;
    top: 0;
    background-color: rgb(255, 0, 132);
 }


 

 .threee::after{
    content: "";
    position:absolute;
    width:0;
    height: 0;
    left:-20px;
    top: 50%;
    background-color: rgb(255, 0, 128);
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent   white  transparent   transparent   ;
 }

.parent{
margin-bottom: 20px;
overflow: hidden;
}

.parent p{
    counter-increment: count;

}

.parent p::before{

    content: counter(count);
    position: absolute;
    background-color: red;
    border: red solid 10px;
    left: -5px;
    margin-top: 10px;
    margin-left: 5px;
    font: bold;

}


 .parent p{
    
    background-color: #eee;
    border: solid #eee 1px;
    height: 60px;
    width: 300px;
    padding-top: 20px;

}


p ::after{ 
    content: "";
    position:absolute;
    width: 5px;
    height: 100%;
    left:-10px;
    top: 0;
    background-color: rgb(255, 0, 132);
 }

