.funny{
 background-color: blueviolet;
 background-image: url("././media\ photo/•_﷽_B9uVLyWJTRp(JPG).jpg");
 background-repeat: repeat-y;
 background-repeat: no-repeat;
 background-repeat: repeat-x;

 background-attachment: scroll;
 background-attachment: fixed;

 background-position: left top;
 background-position: left center;
 background-position: left butt;
 background-position: right top;
 background-position: right center;
 background-position: right butt;

 background-size:80%;
 background-size:contain;
 background-size:cover;

 background-size:50%;
 background-position: right top;
 /*top right bottom left*/
 padding: 20px;
 /*padding-bottom: 20px;
 padding-left: 20px; */

 
 /*top right bottom left*/
 padding: 20px 20px 20px 20px;
 padding-bottom: 20px;
 padding-left: 20px; 
 width: 400px;
 /*margin: auto;*/
 margin-left:auto ;
 margin-right: auto;
}






.funnybooks{
border-color:rgb(139, 53, 53);
border-color:hsl(130, 50, 45);
border-color:#00ffff;
}

.funny{
    background-color: blueviolet;
    background-image: url("././media\ photo/•_﷽_B9uVLyWJTRp(JPG).jpg");
    background-repeat: no-repeat;
}

.funny{
    background-color: blueviolet;
    background-image: url("././media\ photo/•_﷽_B9uVLyWJTRp(JPG).jpg");
    background-repeat: repeat-y;
}


.funny{
    background-color: blueviolet;
    background-image: url("././media\ photo/•_﷽_B9uVLyWJTRp(JPG).jpg");
    background-repeat: repeat-x;
}

.funny{
    background-color: blueviolet;
    background-image: url("././media\ photo/•_﷽_B9uVLyWJTRp(JPG).jpg");
    background-repeat: repeat;
}