.grid
{
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display:grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
    margin-left: 200px;
}

:root .grid{
--backgroundcolor:rgb(169,184,195);
--width: 200px;
--height: 10px;
--padding: 10px;
--textalign: center;
--color:white;
--fontweight: bold;
}

.one1{
    background-color:var(--backgroundcolor) ; 
    width:var(--width) ; 
    height:var(--height) ;
    padding:var(--padding) ;
    text-align:var(--textalign) ;
    color: var(--color);
    font-weight: var(--fontweight);
  }
  
 .two2{
    background-color:var(--backgroundcolor) ; 
    width:var(--width) ; 
    height:var(--height) ;
    padding:var(--padding) ;
    text-align:var(--textalign) ;
    color: var(--color);
    font-weight: var(--fontweight);

  }
  
  
.three3{

    background-color:var(--backgroundcolor) ; 
    width:var(--width) ; 
    height:var(--height) ;
    padding:var(--padding) ;
    text-align:var(--textalign) ;
    color: var(--color);
    font-weight: var(--fontweight);

}

.four4{
    background-color:var(--backgroundcolor) ; 
    width:var(--width) ; 
    height:300px;
    padding:var(--padding) ;
    text-align:var(--textalign);
    color: var(--color);
    font-weight: var(--fontweight);

}

.five5{

    background-color:var(--backgroundcolor) ; 
    width:var(--width) ; 
    height:300px ;
    padding:var(--padding);
    text-align:var(--textalign);
    color: var(--color);
    font-weight: var(--fontweight);

}

.six6{
    background-color:var(--backgroundcolor); 
    width:var(--width); 
    height:300px;
    padding:var(--padding);
    text-align:var(--textalign);
    color: var(--color);
    font-weight: var(--fontweight);

}
.layout{
        display:grid;
        background-color: #ddd;
        height: 100vh;
        width: 600px;
        margin: 10px;
        margin-left: 300px;
        position: relative;
        grid-template-columns:repeat(10,1fr);
        grid-template-rows: 50px auto 50px;
        grid-template-areas:"head head head head head head head head head head" 
    "sec sec sec sec sec sec sec side side side"
    "foot foot foot foot foot foot foot  foot foot";
}
header{
    grid-area: head;
    background-color:cornflowerblue;
    color:white;
    position: absolute;
    height: 50px;
    width: 600px;
    right: 0;
    
}
section{
    grid-area: sec;
    background-color: orange;
    color:white;
    position:absolute;
    height: 550px;
    width: 500px;
    bottom: 50px;
}
aside{
    grid-area:side;
    background-color: gray;
    color: white;
    position:absolute;
    height: 550px;
    width: 100px;
    left: 500px;
    bottom: 50px;
}

footer{
    grid-area: foot;
    background-color:rgb(0,208,130);
    color:white;
    position:absolute;
    height: 50px;
    width: 600px;
    bottom: 0;
}

.gridone{
    background-color: #ddd;
    display: grid;
    padding: 20px;
    width: 800px;
    height: 400px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto auto;
    gap: 10px 10px;
    margin-left: 200px;
    text-align: center;
  }

  :root .gridone{
    --backgroundcolor1:gray;
    --color1: white;
    --fontsize1: x-large;
    --fontweight1: bold;
    --textalign1: center;
  }
.one{
    background-color:var(--backgroundcolor1) ;
    color:var(--color1) ;
    width:10px ;
    height:300px ;
    text-align: var(--textalign1);
}

.two{
    background-color:var(--backgroundcolor1) ;
    color:var(--color1) ;
    width:200px ;
    height:300px ;
    text-align: var(--textalign1);
    
    
}


.three{
    background-color:var(--backgroundcolor1);
    color:var(--color1);
    width:200px;
    height:300px;
    text-align: var(--textalign1);
    
}

.four{
    background-color:var(--backgroundcolor1) ;
    color:var(--color1);
    width:10px;
    height:300px;
    text-align: var(--textalign1);
    margin-left: 150px;
}

.five{
    background-color:var(--backgroundcolor1);
    color:var(--color1);
    width:25px;
    height:25px;
    text-align: var(--textalign1);
}

.six{
    background-color:var(--backgroundcolor1) ;
    color:var(--color1) ;
    width:200px;
    height: 20px;
    text-align: var(--textalign1);
}

.seven{
    background-color:var(--backgroundcolor1) ;
    color:var(--color1) ;
    width:200px;
    height: 20px;
    text-align: var(--textalign1);
}

.eghit{
    background-color:var(--backgroundcolor1) ;
    color:var(--color1) ;
    width:25px ;
    height:25px ;
    text-align: var(--textalign1);
    margin-left: 150px;
}

.gridtwo{
    background-color: #ddd;
    display: grid;
    padding: 20px;
    width: 800px;
    height: 400px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto auto;
    gap: 10px 10px;
    margin-left: 200px;
    text-align: center;
    position: relative;
  }

:root .gradtwo{
   --background-color2: rgb(255, 0, 132);
    --text-align2: center;
    --width2: 50px;
    --height2:100px;
}
.onee{
    background-color: var(--background-color2);
    text-align: var(--text-align2);
     width: var(--width2);
     height: var(--height2);
    
}

.twoo{
    background-color: var(--background-color2);
    text-align: var(--text-align2);
     width: var(--width2);
     height: var(--height2);
}

.threee{
    background-color: var(--background-color2);
    text-align: var(--text-align2);
     width: var(--width2);
     height: var(--height2);
}