*{
    --webkit-box-sizing:border-box;
    --moz-box-sizing:border-box;
    --box-sizing:border-box;
}
:root{
    --maincolor:#2196F3;
    --main2coloraiternative:#1787e0;
    --maintransition:0.3s;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "cairo";
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}


@media (min-width:768px) {
    .container {
        width: 750px;
    }
}


@media (min-width:992px) {
    .container {
        width: 1970px;
    }
}


@media (min-width:1200px ) {
    .container {
        width: 1170px;
    }
}
/*start header*/

header{
       background-color: white;
       position: relative;
       -webkit-box-shadow: 0 0 10px #ddd;
       -moz-box-shadow: 0 0 10px #ddd;
       box-shadow: 0 0 10px #ddd;
}

.header .container{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
position: relative;
}


.header .logo{
    color:var(--maincolor);
    font-weight: bold;
    font-size: 26px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:768px) {
    header .logo {
        width: 100%;
    }
}


.header .main-nav > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
    position: relative;
    color: black;
    padding: 0 30px;
    transition: var(--maintransition);
    overflow: hidden;
}

.header .main-nav {
    display: flex;
    
}


@media (max-width:768px) {
    header .main-nav {
        width: 100px;
    }
}

.header .main-nav > li > a::before{
    content: "";
    position: absolute;
    background-color: var(--maincolor);
    width: 100%;
    height: 4px;
    top: 0;
    left: -100%;
    
}

@media (max-width:768px) {
   header .main-nav > li > a {
        padding:10px;
        font-size:14px ;
        height: 40px;
    }
}

.header .main-nav > li > a:hover{
    color: var(--maincolor);
    background-color: #ddd;
}

.header .main-nav > li > a:hover::before{
    left: 0;
    transition: var(--maintransition);
}
.header .mega-menu{
position: absolute;
}

.header .mega-menu .img{
    max-width: 100%;
   
}
/*end header*/

/*start landing*/

:root{
    --maintransition2:0.3s;
    --backgroundcolor2: #ddd;
    
    }

.landing{
    position: relative;
    background-color: var(--backgroundcolor2);
}

.landing::before{
content: "";
position: absolute;
width:100% ;
height:100%;
background-color: #ddd;
z-index: -1;
transform: skewY(-2deg);
top: 95%;
left: 0;
transform-origin: top left;

}

.landing .container{
display: flex;
align-items: center;
padding-bottom: 100px;
min-height: calc(100%-73px);
}
.landing .text{
    flex: 1;
    align-items: center;
}
@media (max-width:991px){
.landing .text  {
    text-align: center;
}
}

.landing h1{
font-size: xx-large;
letter-spacing: 2px;
font-weight: bold;

}
@media(max-width:767){
    .landing .text h1{
        font-size: 30px;
    }
}
.landing p{
    font-size:large;
    letter-spacing: 2px;
}

@media (max-width:991px){
    .landing .text p {
        text-align: center;
        margin: 10 auto;
    }
    }
    
@media(max-width:767){
    .landing .text p{
        font-size: 30px;
    }
}
.landing .image img{
width: 600px;
animation: up-and-down 5s linear infinite;
display: flex;
position:absolute;
right:10px;
bottom: -150px;

}


.landing .image::before{
    
}

@media(max-width:991){
.landing .image{
    display: none;
    
}
}
.landing .go-down {
color: var(--maincolor);
position: absolute;
bottom: -100%;
left: 50%;
transform:translateX(-50%);
transition: var(--maintransition2);

}


.landing .go-down :hover {
    color: var(--maincolor);
   
}


.landing .go-down .i {
animation: bouncing 1.5s infinite;
}

  


/*end landing*/
/*start animation*/
@keyframes up_and_down {
    0%, 100% {
        top:0;
    }
    50%{
        top: -50px;
    }
}
@keyframes bouncing{
    0%, 10%, 20%, 50% , 80%, 100%{
        transform: translateY(0);
    }
    40%, 60% {
        transform: translateY(-20px);
    }
}
/*end animation*/