*{
    --webkit-box-sizing:border-box;
    --moz-box-sizing:border-box;
    --box-sizing:border-box;
}
:root{
    --maincolor:#2196F3;
    --main2coloraiternative:#1787e0;
    --maintransition:0.3s;
    --mainpaddingtop:100px;
    --mainpaddingbottom:100px;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "cairo";
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}


@media (min-width:768px) {
    .container {
        width: 750px;
    }
}


@media (min-width:992px) {
    .container {
        width: 1970px;
    }
}


@media (min-width:1200px ) {
    .container {
        width: 1170px;
    }
}

.main-title{
    margin: 0 auto 80px ;
    border: 1px solid black;
    padding: 10px 20px;
    width: fit-content;
    font-size: 30px;
    position: relative;
    z-index: 1;
    transition: var(--maintransition);
}

.main-title::before{
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--maincolor);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left:-20px;
    transform: translateY(-50%);
 
}

.main-title::after{
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--maincolor);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
 
}
.main-title:hover::before{
    z-index: -1;
    animation: left-move 0.5s linear forwards;
    color: white;
    font-weight: bold;
}

.main-title:hover::after{
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.main-title:hover{
color: white;
font-weight: bold;
border:2px solid white;
}

/*start header*/

header{
       background-color: white;
       position: relative;
       -webkit-box-shadow: 0 0 10px #ddd;
       -moz-box-shadow: 0 0 10px #ddd;
       box-shadow: 0 0 10px #ddd;
}

.header .container{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
position: relative;
}


.header .logo{
    color:var(--maincolor);
    font-weight: bold;
    font-size: 26px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:768px) {
    header .logo {
        width: 100%;
    }
}


.header .main-nav {
    display: flex;
    
}
.header .main-nav  > li:hover .mega-menu {
opacity: 1;
z-index: 100;
top: calc(100% + 1px);
}

 
.header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
    position:relative;
    color: black;
    padding: 0 30px;
    transition: var(--maintransition);
    overflow: hidden;
}


@media (max-width:768px) {
    header .main-nav {
        width: 100px;
        margin: auto;
    }
}


.header .main-nav > li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
 }

.header .main-nav > li > a::before{
    content: "";
    position: absolute;
    background-color: var(--maincolor);
    width: 100%;
    height: 4px;
    top: 0;
    left: -100%;
    transition: var(--maintransition);
    
}

@media (max-width:768px) {
   header .main-nav > li > a {
        padding:10px;
        font-size:14px ;
        height: 40px;
    }
}

.header .main-nav > li > a:hover{
    color: var(--maincolor);
    background-color: #ddd;
}

 .header .main-nav > li > a:hover::before{
    left: 0;
  
}

.header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 20px;
    background-color: white;
    border-bottom: solid 3px var(--backgroundcolor);
    z-index: -1;
    top: 60px;
    display: flex;
    gap: 40px;
    opacity: 0;
    transition: top var(--maintransition), opacity var(--maintransition);
}



.header .mega-menu .image img{
    max-width: 100%;
}

@media (max-width:991px){
    .header .mega-menu .image {
        display: none;
    }
}

@media (max-width:767px) {
    .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
    }
}
.header .mega-menu .links {
    min-width: 220px;
    flex: 1;
}

.header .mega-menu .links li {
    position: relative;
}

.header .mega-menu .links li:not(:last-child){
    border-bottom: #e9e9e9 solid 1px;
    }

    .header .mega-menu .links li:hover:before {
        width: 100%;
    }

.header .mega-menu .links li::before {
content: "";
position: absolute;
left: 0;
top: 0;
width: 0;
height: 100%;
background-color: #FAFAFA;
z-index: -1;
transition: var(--maintransition2);
}

@media (max-width:767px){
    .header .mega-menu .links:first-of-type :last-child{
    border-bottom: #e9e9e9 solid 1px;
}
}
.header .mega-menu .links li a {
    color: var(--maincolor);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.header .mega-menu .links li a i {
    margin-right: 10px;
}

/*end header*/

/*start landing*/

:root{
    --maintransition2:0.3s;
    --backgroundcolor2: #ddd;
    
    }

.landing {
    position: relative;
    
  
}

.landing::before{
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 80%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(0deg);
    transform-origin: top left;
}

.landing .container{
display: flex;
align-items: center;
padding-bottom: 120px;
min-height: calc(100vh - 73px);
}

.landing .text{
    flex: 1;
    
}
@media (max-width:991px){
.landing .text  {
    text-align: center;
}
}

.landing .text h1{
font-size: xx-large;
letter-spacing: 2px;
font-weight: bold;

}
@media(max-width:767){
    .landing .text h1{
        font-size: 30px;
    }
}
.landing .text p{
    font-size:large;
    letter-spacing: 1px;
}

@media (max-width:991px){
    .landing .text p {
        text-align: center;
        margin: 10 auto;
    }
    }
    
@media(max-width:767){
    .landing .text p{
        font-size: 30px;
    }
}
.landing .image img {
width: 600px;
animation: up-and-down 5s linear infinite;
position:relative;
}


@media(max-width:991px) {
.landing .image{
    display: none;
    
}

}
.landing .go-down {
color: var(--maincolor);
position: absolute;
bottom:30px;
left: 50%;
transform:translateX(-50%);
transition: var(--maintransition2);
}


.landing .go-down :hover {
    color: var(--maincolor);  
}
.landing .go-down i {
animation: bouncing 1.5s infinite;
}
/*end landing*/
/*start artical*/
.articales {
padding-top: var(--mainpaddingtop) ;
padding-bottom: var(--mainpaddingbottom);
position: relative;
}
.articales .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.articales .box {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.139);
    background-color: white;
    border: 1px solid white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--maintransition), box-shadow var(--maintransition) ;
}
.articales .box:hover{
transform: translateY(-10px);
box-shadow: 0 2px 15px rgba(0, 0, 0, 20%);
}

.articales .box img {
max-width: 100%;

}

.articales .box .content {
padding: 20px;
}

.articales .box .content p {
color:#777 ;
margin: 10px 0 0 0;
line-height: 1.5;
}


.articales .box .content h3 {
   margin: 0;
    }

    
.articales .box .info {
    padding: 20px;
    border-top: 1px #e6e6e7 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articales  .box .info a {
color: var(--maincolor);
font-weight: bold;
}


.articales  .box .info i {
   
    color: var(--maincolor);
}

.articales  .box:hover .info i{
    animation: moving-arrow 0.6s infinite linear;
}

/*end artical*/
/*start gallery*/
.gallery {
padding-top: var(--mainpaddingtop) ;
padding-bottom: var(--mainpaddingbottom);
position: relative;
background-color: #e6e6e7;
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.gallery .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgd(0 0 0 / 13%), 0 2px 4px 0 rgd (0 0 0 / 12%);;
}
.gallery .box .image{
    position: relative;
    overflow: hidden;
}
.gallery .box .image::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 0;
    height: 0;
    opacity: 0;
}
.gallery .box .image:hover::before {
    animation: flashing 0.7s;
}
.gallery .box img {
    max-width: 100%;
    transition: var(--maintransition);
}
.gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1) ;
}

/*end gallery*/
/*start feature*/
.features{
padding-top: var(--mainpaddingtop) ;
padding-bottom: var(--mainpaddingbottom);
position: relative;
background-color: white;

}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.features .box {
   text-align: center;
   border: 1px solid #ccc;
}
.features .box .image-holder {
    position: relative;
    overflow: hidden;

}

.features .box .image-holder::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}

.features .box .image-holder::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 170px 500px;
    border-color: transparent transparent white transparent;
    overflow: hidden;
    transition: var(--maintransition);
 
 }
.features .box .image-holder img{
    max-width: 100%;
}
    
.features .box:hover .image-holder::after{
    border-width:  170px 500px 170px 0 ;
    

}
.features .box h3{
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}

.features .box h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: var(--maincolor);
    width: 100%;
}

.features .box p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
} 

.features .box a {
   display: block;
   border: 3px solid var(--maincolor);
   width: fit-content;
   margin: 0 auto 30px;
   font-size: 20px;
   font-weight: bold;
   padding: 10px 20px;
   color: var(--maincolor);
} 

.features .box::after a {
    content: "";
} 
/*end feature*/
/*start testimonalise*/

.testimonials {
padding-top: var(--mainpaddingtop) ;
padding-bottom: var(--mainpaddingbottom);
position: relative;
background-color: #e6e6e7;

}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.testimonials .box {
    background-color: white;
   padding: 20px;
   box-shadow: 2px 4px rgba(0, 0, 0, 0.009);
   border-radius: 6px;
   position: relative;
   
}

.testimonials .box img {
  position: absolute;
  right: -10px;
  top: -80px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #e6e6e7;
  
}

.testimonials .box h2 {
 color: var(--maincolor);
 
}

.testimonials .box .title {
    margin: 10px;
    color: #777;
    font-size: 20px;
    display: block;
   
}

.testimonials .box .rate {
    margin: 10px;
   
}

.testimonials .box .filled {
    color:#ffc107;
}

.testimonials .box p {
    color: #777;
    line-height: 1.5;
}
/*end testimonalise*/

/*start team*/
.team {
    padding-top: var(--mainpaddingtop) ;
    padding-bottom: var(--mainpaddingbottom);
    position: relative;
    
}
.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.team .box {
    position: relative; 
}
.team .box::before,
.team .box::after {
    content: "";
    background-color: #f3f3f3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    z-index: -2;
    transition: var(--maintransition);
}

.team .box::before {
    content: "";
    z-index: -2;
    width: calc(100% - 60px);
}
.team .box::after {
    content: "";
    z-index: -1;
    background-color: #e4e4e4;
    width: 0;
}
.team .box:hover::after {
    width: calc(100% - 60px);
}
.team .box .data img {
    width: calc(100% - 60px);
    transition: var(--maintransition);
    border-radius: 10px;
}
.team .box:hover img{
    filter: grayscale(100%);
}

.team .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
    
}
.team .box .data .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.team .box .social a {
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team .box .social i {
    color: #777;
    transition: var(--maintransition);
}
.team .box .data .social a:hover i {
    color: var(--maincolor);
    transition: var(--maintransition);
}
.team .box .info {
padding-left: 100px;

}

.team .box .info h3 {
    margin-bottom: 0;
    color: var(--maincolor);
    font-size: 30px;
}
.team .box:hover .info h3{
    color: #777;
    transition: var(--maincolor);
}
.team .box .info p {
margin-top: 10px;
margin-bottom: 20px;
font-size: 22px;
}
.team .box:hover .info p{
    color: #777;
}
/*end team*/
/*start services*/

.services {
    padding-top: var(--mainpaddingtop) ;
    padding-bottom: var(--mainpaddingbottom);
    position: relative;
    background-color: #e6e6e7;
    
    }
    
    .services .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 40px;
    }
    .services .box {
        background-color: white;
        padding: 20px;
        box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.009), 0px 2px 4px 0 rgba(0, 0, 0, 0.009);
        counter-increment: services;
        transition: var(--maintransition);
        position: relative;
    }
    .services .box::before{
        content: "";
        left: 50%;
        transform: translateX(-50%);
        height: 3px;
        top: -3px;
        background-color: var(--maincolor);
        position: absolute;
        width: 0;
        transition: var(--maintransition);
    }
    .services .box:hover {
        transform: translateY(-10PX);
    }
    
    .services .box:hover::before {
    width: 100%;
    }


    .services .box > h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        color: var(--maincolor);
        font-size: 24px;
        font-weight: bold;
    }
    .services .box > i {
        margin: 40px auto 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #d5d5d5;
    }
    .services .box .info {
        padding: 15px;
        position: relative;
        background-color: #f9f9f9;
        text-align: right;
       
   

    }
    .services .box .info::before {
        content: "0" counter(services);
        position: absolute;
        display: flex;
        text-align: left;
        color: white;
        background-color: var(--maincolor);
        width: 80px;
        height: 100%;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 30px;
    }
   
    .services .box .info::after {
        content: "";
        background-color: #D5D5D5;
        position: absolute;
        top: 0;
        left: 70px;
        width: 50px;
        height: calc(100% + 0.2px);
        transform: skewX(-20deg);
        



    }
    .services .box .info a {
     color: var(--maincolor);
    }

/*end services*/
/*start skills*/
.our-skills {

    padding-top: var(--mainpaddingtop) ;
    padding-bottom: var(--mainpaddingbottom);
    position: relative;

}
.our-skills .container {
    display: flex;
    align-items: center;
    justify-content: center;

}
@media (max-width:991px) {
    .our-skills img {
       display: none;
    }
}
.our-skills .skills {
    flex: 1;
}
.our-skills .skill {

}

.our-skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.our-skills .skill h3 span {
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 4px;
    color: var(--maincolor);

}
.our-skills .skill .the-progress {
    height: 30px;
    background-color: #eee;
    position: relative;
    
   

}

.our-skills .skill .the-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--maincolor);
   
}
/*end skills*/
/*start how it work*/
.how-it-work {
    
    padding-top: var(--mainpaddingtop) ;
    padding-bottom: var(--mainpaddingbottom);
    position: relative;
    background-color: #ececec;

}
.how-it-work .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.how-it-work .image {
    max-width: 100%;
    margin-right: 100px;

}

@media (max-width: 991px) {
    .how-it-work .container {
      flex-direction: column;
    }
  }
  .how-it-work .image {
    max-width: 100%;
    margin-right: 100px;
  }
  @media (max-width: 991px) {
    .how-it-work .image {
      margin: 0 0 50px;
    }
  }

.how-it-work .info .box {
  background-color: #f6f5f5;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  border: 2px solid white;
  position: relative;
  z-index: 1;

}

@media (max-width: 767px) {
    .how-it-work .info .box {
      flex-direction: column;
      text-align: center;
    }
  }
  .how-it-work .info .box::before {
    content: "";
    left: 50%;
    top: 50%;
    position: absolute;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    z-index: -1;
    transition: var(--main-transition);
  }
  .how-it-work .info .box:hover::before {
    width: 100%;
    height: 100%;
  }

.how-it-work .info img {
    width: 64px;
    padding: 40px;
    margin-right: 30px;
    border-radius: 6px;
}

@media (max-width: 767px) {
    .work-steps .info .box img {
      margin: 0 0 30px;
    }
  }

.how-it-work .info .box .text h3 {
    
    font-size: 22px;
    margin-top: 20px;
    
   
   
}

.how-it-work .info .box .text p {
    color: #777;
    line-height: 1.7;
    margin: 10px 0 0 0;
    font-size: 20px;
}
/*end how it work*/
/*start event*/
.events {
padding-top: var(--mainpaddingtop) ;
padding-bottom: var(--mainpaddingbottom);
position: relative;
}
.events .container {
display: flex;
align-items: center;
flex-wrap: wrap;
}

.events img {
    max-width: 450px;
}

@media (max-width:995){
    .events img{
        display: none;
    }

} 

.events .info {
    flex: 1;
}

.events .info .time {
    display: flex;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
    justify-content: center;
  } 
  .events .info .time .unit {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    justify-content: center;
    width: 75px;
    transition: var(--main-transition);
  }
  .events .info .time .unit span {
    display: block;
  }

  .events .info .time .unit span:first-child {
    font-size: 40px;
    padding: 10px;
    font-weight: bold;
    color: var(--maincolor);

  }
  .events .info .time .unit span:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    font-size: 13px;
    border: 1px solid #d4d4d4;
  }
  .events .info .time .unit:hover{
    border-color:var(--maincolor);
  }
  .events .info .time .unit:hover span{
    border-color: var(--maincolor);
  }

  .events .description {
    align-items: center;
    line-height: 1.7;
    font-size: 19px;
    color: #777;
  }
.events .subscribe {
  width: 100%;
  margin-top: 50px;
}

.events .subscribe form {
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #f6f5f5;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}
.events .subscribe form input[ type="email"] {
    padding: 20px;
    border-radius: 50px;
    border: none;
    flex: 1;
    caret-color: var(--maincolor);
    
  }
  .events .subscribe form input[ type="email"]::placeholder{
    transition: opacity var(--main-transition);
  }
  .events .subscribe form input[ type="email"]:focus{
   outline: none;
  }
  .events .subscribe form input[ type="email"]:focus::placeholder{
    opacity: 0;
  }

.events .subscribe form input[ type="submit"] {
    padding: 20px;
    border-radius: 50px;
    border: none;
    background-color: var(--maincolor);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-transition);

  }

  .events .subscribe form input[ type="submit"]:hover {
    background-color: #2287d8;
   
  }
.events .title {
    text-align: center;
    font-weight: bold;
    margin: 50px 0;
    font-size: 30px;
}

@media (max-width: 767px) {
    .events .subscribe form {
      max-width: 100%;
      padding: 20px;
      flex-direction: column;
      border-radius: 0;
    }
  }

  @media (max-width: 767px) {
    .events .subscribe form input[type="email"] {
      border-radius: 0;
    }
  }

  @media (max-width: 767px) {
    .events .subscribe form input[type="submit"] {
      border-radius: 0;
    }
  }
/*end event*/
/*start animation*/
@keyframes up-and-down {
    0%, 
    100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}
@keyframes bouncing {
    0%, 
    10%, 
    20%, 
    50%, 
    80%, 
    100% {
        transform: translateY(0);
    }
    40%,
    60% {
        transform: translateY(-15px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

@keyframes moving-arrow{
    100% {
        transform: translateX(10px);
    }
}

@keyframes flashing{
    100% {
        transform: translateX(10px);
    }
}
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
@keyframes moving-arrow{
    100% {
        transform: translateX(10px);
}
}

/*end animation*/
/*start pricing*/

.pricing {
padding-top: var(--mainpaddingtop) ;
padding-bottom: var(--mainpaddingbottom);
position: relative;
background-color: #ececec;
}
.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    
}
.pricing .box {
    position: relative;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.009), 0px 2px 4px 0 rgba(0, 0, 0, 0.009);
    transition: var(--main-transition);
    background-color: white;
    text-align: center;
    z-index: 1;
   
    
}
.pricing .box::before,
.pricing .box::after {
     content: "";
     width: 0;
     height: 50%;
     background-color: #f6f6f6;
     position: absolute;
     z-index: -1;
     transition: var(--main-transition);
}
 .pricing .box::before {
    left: 0;
    top: 0;


 }
 
 .pricing .box::after {
    right: 0;
    bottom: 0;

}

.pricing .box:hover::before,
.pricing .box:hover::after {
    width: 100%;
}
@media (min-width: 1200px) {
  .pricing .box.popular {
    top: -20px;
  }
}
.pricing .box.popular .label {
  position: absolute;
  writing-mode: vertical-lr;
  background-color: var(--maincolor);
  color: white;
  font-weight: bold;
  padding: 10px 10px 35px 10px;
  font-size: 18px;
  right: 15px;
  width: 18px;
}
.pricing .box.popular .label::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-color: transparent transparent white;
    border-width: 20px;
}
.pricing .box .title {
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.pricing  .box img {
    width: 100px;
    padding: 40px;
    margin-right: 30px;
    border-radius: 6px;

}
.pricing .box .price {
    margin-bottom: 10px;
}
.pricing .box  .amount {
    display: block;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--maincolor);
}
.pricing .box  .time {
    color:#777;
}
.pricing ul li {
    padding: 20px;
    border-top: 1px solid #eee ;
}
.pricing .box ul {
    text-align: left;
   
   
}
.pricing .box li::before {
    font-family: "FONT AWESOME 5 FREE";
    content: "\f00c";
    color: var(--maincolor);
    background-color: var(--maincolor);
    left: 0;
    margin-right: 10px;
 
} 
.pricing .box a {
   display: block;
   width: fit-content;
   border: 2px solid var(--maincolor);
   color: var(--maincolor);
   margin: 20px auto 40px;
   padding: 15px 20px;
   border-radius: 6px;
   font-weight: bold;

  }
.pricing .box a:hover {
    background-color: #2287d8;
    color: white;
    font-weight: bold;
}
/*end pricing*/
/*start videoes*/

.videos {
    padding-top: var(--mainpaddingtop);
    padding-bottom: var(--mainpaddingbottom);
   
}

@media (max-width: 991px) {
    .videos .holder {
      flex-direction: column;
    }
  }

.videos .holder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    border: 1px solid #ddd;
    
}

.videos .holder .list {
   min-width: 300px;
  background-color: white;
}


.videos .holder .list .name {
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 20px;
   
   
}

.videos .holder .list ul li {
    padding: 20px;
    border-top: 1px solid #ccc;
    cursor: pointer;
    transition: var(--main-transition);
}
.videos .holder .list ul li:hover {
    color: #fafafa;
    color: var(--maincolor);

}


.videos .holder .list ul li span {
   color: #777;
   display: flex;
   justify-content: space-between;
   
}
.videos .preview {
    background-color: #e2e2e2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
   
}

.videos .holder .preview img {
    width: 100%;
}

.videos .holder .preview .info {
    padding: 20px;
    background-color: white;
    margin-top: 10px;

    
}
/*end videoes*/