.bir{
width: 100px;
height: 100px;
background-color: #ddd;
margin: 200px auto;
outline:auto;
border-radius: 50px;
border-color: black;
box-shadow:  -8px -3px  rgb(255, 0, 144) ,  8px 4px blue  ;
float: left;
display:flex;
justify-content: center;
align-items: center;
}



.iki{
    width: 100px;
    height: 100px;
    background-color: #ddd;
    margin: 200px auto;
    outline:auto;
    border-radius: 50px;
    border-color: black;
    box-shadow:  -8px -3px  rgb(255, 0, 144) ,  8px 4px blue  ;
    float: left;
    display:flex;
justify-content: center;
align-items: center;
    
    }


    .uc{
        width: 100px;
        height: 100px;
        background-color: #ddd;
        margin: 200px auto;
        outline:auto;
        border-radius: 50px;
        border-color: black;
        box-shadow:  -8px -3px  rgb(255, 0, 144) ,  8px 4px blue  ;
        float: left;
        display:flex;
        justify-content: center;
        align-items: center;
        }


.one{
width: 200px;
height: 200px;
background-color: #ddd;
margin: 50px auto;
border-radius: 10px;
border-bottom-left-radius: 90px;
border-top-left-radius: 22px;
border-top-right-radius: 90px;
border-bottom-right-radius: 22px;
border-color:#ddd;
box-shadow: 0 0 0 0 inset #ddd;
}



.parent{
    width: 550px;
    height: 300px;
    border: solid 1px #EEE;
    position: absolute;
    margin-left: 100px;
    margin-top: 100px;
    padding: 20px;
    }

    .left{
width: 40%;
height: 100%;
position: relative;
background-color: #ddd;
display: inline-block;
float: left;
text-align: center;
    }

    .left::after{

content:"" ;
width: 3px;
height: 100%;
position: absolute;
right: -25%;
top: 0;
background-color:rgb(0, 238, 255) ;

    }

  
    .right{

        width: 40%;
        height: 100%;
        position: relative;
        background-color: #ddd;
        display: inline-block;
        float: right;
        text-align: center;
    
            }

            .right::before{
    
content:"or" ;
width: 30px;
height: 30px;
position: absolute;
left: -32%;
top: 49%;
background-color:rgb(0, 238, 255) ;
border-radius: 15px;


            }
          
button{
background-color: rgb(0, 238, 255);
color: white;
border: none;
font-weight: bold;
padding: 5px 15px;
margin-top: 30px;
font-size: xx-large;
margin-bottom: 30px;
}

.free{
width: 100px;
height:100px;
border-radius: 50px;
margin-top: 10px;
margin-left: 50px;
background-color: #eee;
color: black;
display: flex;
justify-content: center;
align-items: center;
}



.therty{
    width: 100px;
    height:100px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 50px;
    background-color: #eee;
    color: black;
    display: flex;
justify-content: center;
align-items: center;
    }
     
