
h3{
   border-width: 5px 5px;
   border-color:rgb(139, 53, 53);
   border-style:solid; /*dotted  solid dashed*/
   outline: 5px solid red;

   }


   h3{
    border-width: 5px 5px;
    border-color:rgb(139, 53, 53);
    border-style:dotted  red green blue yellow  ; /*dotted  solid dashed*/
    outline: 5px black  ;

    }


    h3{
        border-width: 5px 5px;
        border-color:rgb(139, 53, 53);
        border-style:solid blue green blue green ; /*dotted  solid dashed*/
        outline: 5px black  ;
    
        }


   div{
background-color: rgb(100, 250, 252);
margin: 10px;
padding: 400px;
width:auto;
height: auto;
   }

 span{
        background-color: rgb(252, 100, 100);
        margin: 20px;
        display: inline;
        padding: 400px;
     }
  
     
 span{
    background-color: rgb(252, 100, 100);
    margin: 20px;
    display: none;
    padding: 400px;
 }

 .first{
    
    visibility:hidden;

 }